<section id="file">
  <h2>File-mobile</h2>
  <div class="container">
    <div class="icon"><p>icon</p></div>
    <p class="title">o2palm.jpgo2palm.jpgo2palm.jpgo2palm.jpgo2palm.jpgo2palm.jpgo2palm.jpgo2palm.jpgo2palm.jpgo2palm.jpgo2palm.jpgo2palm.jpgo2palm.jpgo2palm.jpg</p>
  </div>
</section>
<br>
<section id="schedule">
    <h2>schedule-mobile</h2>
    <div class="container">
      <div class="iconA"><p>icon</p></div>
      <p class="title">dsadsadasddfafdsffddfasfsdfsfdsasadsadasddgggfafdsffddfasfsdfsfdsasadsadasddfafdsffddfasfsdfsfdsasadsadasddfafdsffddfasfsdfsfdsasadsadasddfafdsffddfasfsdfsfdsaf</p>
      <div class="iconB"><p>icon</p></div>
    </div>
  </section>
  <br>
  