<section id="header">
    <div class="left">
        <ul class=ulleft>
            <li><a href="#">즐겨찾기</a></li>
            <li><a href="#">바로가기</a></li>
        </ul>
    </div>
    <div class="right">
        <ul class="ulright">
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
            <li><a href="#">장바구니</a></li>
            <li><a href="#">마이샵</a></li>
            <li><a href="#">커뮤니티</a></li>
            <li><a href="#">상품Q&amp;A</a></li>
            <li><a href="#">상품후기</a></li>
        </ul>
<!--        <div class="sb"><div class="bar"></div></div>-->
    </div>
</section>
<section id="tb">
    <div class="topbanner"></div>
    <div class="topbanner"></div>
    <div class="topbanner"></div>
</section>
<section id="nav">
    <ul class="nav1">
        <li><a href="#">NEW</a></li>
        <li><a href="#">BEST</a></li>
        <li><a href="#">HEEL</a></li>
        <li><a href="#">LOAFER</a></li>
        <li><a href="#">FLAT</a></li>
        <li><a href="#">SNEAKERS</a></li>
        <li><a href="#">SLIPPERS</a></li>
        <li><a href="#">ANKLE</a></li>
        <li><a href="#">BOOTS</a></li>
        <li><a href="#">WARKER</a></li>
        <li><a href="#">SANDAL</a></li>
        <li><a href="#">BRAND</a></li>
    </ul>
</section>
<section id="banner">
    <div class="imgB"></div>
</section>
<section id="trpbox">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box">
        <ul class="notice">
            <li class="hot"><a href="#">상품 반품기간 안내</a></li>
            <li class="hot"><a href="#">배송관련 공지사항</a></li>
            <li><a href="#">여름휴가 공지 8월6~13일까지</a></li>
            <li><a href="#">추석명절기간내 배송안내</a></li>
        </ul>
        <ul class="date">
            <li>2017/06/19</li>
            <li>2017/01/25</li>
            <li>2018/08/06</li>
            <li>2017/09/28</li>
        </ul>
    </div>
</section>
<section id="weeklyF">
    <div class="first">
        <p>WEEKLY HOT ITEMS</p>
        <p>금주의 핫아이템</p>
        <p>MORE</p>
        </div>
    <div class="second"></div>
    <div class="third"></div>
    <div class="fourth"></div>
    <div class="fifth"></div>
</section>